/* styles.css */
body {
  background-color: white;
}

section {
  padding: 60px 0;
}

h1, p, label, a {
    color: #3b3838; /* Ensures all text elements are readable */
}

img.logo {
    opacity: 0.7;
    margin: 5em auto auto auto;
}

.submit-button {
  color: #3b3838;
  border: solid 1px #3d3838;
}

.sk-violet {
  background-color: #70566D;
}

.sk-green {
  background-color: #337357;
}

.sk-pink {
  background-color: #f4e4e1;
}

.sk-purple {
  background-color: #42273B;
}

.sk-blue {
  background-color: #00303D;
}


.sk-gold{
  background-color: #CCAA00;
}



.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  letter-spacing: .13rem; 
  font-weight: 10;
  font-style: italic;
}
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

